.starContainer {
  background-color: var(--dark-blue);
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
